{{define "content"}}
  <h2>Security Alert</h2>
  
  <div class="alert-box {{if eq .Data.Severity "high"}}danger{{end}}">
    <p class="alert-text {{if eq .Data.Severity "high"}}danger{{end}}">{{.Data.AlertMessage}}</p>
  </div>
  
  <p>{{.Data.Details}}</p>
  
  <p>If you recognize this activity, no further action is required. If this was not you, please secure your account immediately by changing your password.</p>
  
  {{if .Data.ActionURL}}
  <div style="margin-top: 32px; margin-bottom: 16px;">
    <a href="{{.Data.ActionURL}}" class="btn">{{.Data.ActionText}}</a>
  </div>
  {{end}}
  
  <hr class="hr" />
  <p style="margin-bottom: 0; font-size: 13px;">Sincerely,<br>The IMS Security Team</p>
{{end}}
